.App {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.5s ease;
}

#quote-box {
  width: 450px;
  height: auto; /* Adjust height as needed */
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* Center content horizontally */
  background-color: white;
  transition: background-color 0.5s ease;
}

#text {
  font-size: 24px;
  text-align: justify;
  padding: 0 10px;
}

#author {
  font-size: 18px;
  text-align: right;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure buttons span the full width */
}

#new-quote, #tweet-quote {
  width: 100px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

#tweet-quote{
  width: 50px;
  height: 50px;
}

#tweet-quote img {
  width: 30px;
  object-fit: cover;
}

#tweet-quote:hover, #new-quote:hover {
  opacity: 0.8;
}
